<% @title = 'Edit Validation' %>

<% form_for(@validation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= javascript_tag "$('validation_name').focus()" %>
<%= link_to 'Show', @validation %>
